# ignore a single file


# ignore an entire directory

# ignore a file type

# add an exception (using !) to the preceding rule to track a specific file
/vendor/
/App/views/
!/App/views/home/index.php
/App/controllers/
/App/models/
!/App/models/DefaultModel.php
public/